<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container upperwraper d-flex justify-content-center align-items-center">
        <div class="container w-50">
            <form action="/book/upload" method="post" id="fdata" class="border rounded shadow p-4"
                enctype="multipart/form-data">
                <input type="text" name="name" class="form-control mb-3 mx-auto" placeholder="Enter name ..." id="name">
                <input type="password" name="password" class="form-control mb-3 mx-auto"
                    placeholder="Enter password ..." id="password">
                <input type="file" name="imgpath" class="form-control mb-3 mx-auto" id="imgpath">
                <input type="submit" id="sub" value="Save" class="btn btn-success mx-auto float-end"><br>
            </form>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelector("#fdata").addEventListener("submit", async (e) => {

                e.preventDefault();
                const formData = new FormData();
                const imageInput = document.querySelector('input[type="file"]');
                const file = imageInput.files[0];
                //console.log(file);
                formData.append('name', document.querySelector("#name").value);
                formData.append('password', document.querySelector("#password").value);
                formData.append("imgpath", file);
                //console.log(formData.get("name"));
                //console.log(e.target)
                const response = await fetch('http://localhost:3040/book/upload', {
                    method: 'POST',
                    body: formData,
                });
                const result = await response.json();
                console.log(result);
            })
    </script>



</body>

</html>