<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap CSS via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/home.css">
</head>

<body>


    <div class="container d-flex justify-content-center align-items-center formdata">
        <form action="" id="userdata" class="border rounded">
            <h2 class="text-center">User Task Form</h2><br>
            <input style="box-shadow: none;" id="email" type="email" placeholder="Enter Your Email ..."
                class="form-control" readonly required><br>
            <input style="box-shadow: none;" id="tname" type="text" placeholder="Enter Your Task_Name ..."
                class="form-control" required><br>
            <textarea id="task_desc" placeholder="Enter Your Task Description ..." cols="33" rows="3"
                class="form-control"></textarea><br>
            <select name="" id="status" class="custom-select">
                <option value="pending" selected>pending</option>
                <option value="in-progress">in-progress</option>
                <option value="completed">completed</option>
            </select>
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <input style="box-shadow: none;" id="btnsub" type="submit" class="btn btn-secondary float-right"
                value="SAVE">
            </div>
        </form>
    </div>


    <script src="../js/home.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>